:root{
    --primary: #69CEC6;
    --accentLight:#5DA399;
    --accentDark:#397367;
    --accent:#8FD694;
    --focus:#52489C;
    --background:#504B43;
    --text:#FDFFFC;
    --darkText:#B3D2C1;
    --fullWidth: 98%
}
/* https://coolors.co/8fd694-397367-52489c-5da399-504b43 */
