/* purple + orange + blues
 :root {
  --list-back: #bccbde;
  --details-back: #e6e9f0;
  --header-back: #431c5d;
  --button-back: #e05915;
  --border-color: #c2dde6;
  --box-back: white;
} */

:root {
  --list-back: #2b7a78;
  --favorites-back: #def2f1;
  --details-back: #feffff;
  --details-box-back: #def2f1;
  --header-back: #17252A;
  --button-back: #3aafa9;
  --border-color: #c2dde6;
  --list-box-back: #feffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movies {
  display: grid;

}

.favorites {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-flow: column;

  align-items: center;
  grid-gap: 5px;
  background: var(--favorites-back);
  color: var(--header-back);
  padding: 5px;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;

  grid-column-start: 1;
  grid-column-end: 4;
}

.default-view {
  display: grid;
  grid-template-rows: auto auto 2fr;
  grid-template-columns: auto minmax(auto, 1fr);
}

.favorites-bar {
  grid-column: 1 / 4;
}

.header {
  grid-column: 1 / 4;
}
.header-menu {
  float: right;
}
.header-title {
  float: left;
}

.filter {
  
}

.label label {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
}
.filterHeading {
  grid-column-start: 1;
  grid-column-end: 4;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}