.Film-Detail {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.Title-Card {
    grid-row: 1 /3;
    padding: 2em;
    max-width: 300px;
}

.Film-Data-Card{
    padding: 2em;
}

.stub-info{
    display: inline;
}
.stub-info + .stub-info::before {
/*Credit to Stack Overflow user Ori Drori https://stackoverflow.com/questions/47881767/*/
    display: inline-block;
    white-space: pre;
    content: ", ";
}

.Person-List {
    overflow: scroll;
    height: 750px;
}

.Cast-Item, .Crew-Item {
    display: flex;
}