.filter{
    display: flex;
}
.filterHeading {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  

.hide-enter {
    opacity: 0;
    width: 0%;

}
.hide-enter-active {
    opacity: 1;
    width: 100%;
    
    transition: all 300ms ease-in;
}


.hide-exit {
    opacity: 1;
    width: 100%;
}

.hide-exit-active {
    opacity: 0;
    width:0%;

    transition: all 300ms ease-out;
}