.movie-list {
    display: grid;
    grid-template-columns: 105px 1fr 1fr 1fr 115px;
    
    overflow: scroll;
    width: 1000px;
    height: 750px;
  }
  
  .list-heading {
    grid-column: 1 / span 6;
    text-align: center;
  }
  
  .movies {
    padding: 0;
    margin: 0;
    grid-column: 1 / span 6;

    overflow: scroll;
  }
  
  .movie-list-item {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr auto auto;
    grid-gap: 10px;
    padding: 5px;
  }
  
  .movie-title {
    grid-column: 2 / 3;
  }
  
  
  